body {
  background-color: #ddddff;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}
.section {
  background-color: #eeeeff;
  border-radius: 4px;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.subsection {
  border-radius: 4px;
  padding: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.definition {
  border: 1px solid green;
}
.example {
  border: 1px solid black;
}
